* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fffaf5;
  color: #333;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f4a261;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e98b3a;
}
